@font-face {
    font-family: 'Cafe';
    src: url('מדיה/Cafe.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-Thin';
    src: url('מדיה/Heebo-Thin.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-SemiBold';
    src: url('מדיה/Heebo-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-Regular';
    src: url('מדיה/Heebo-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-Medium';
    src: url('מדיה/Heebo-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-Light';
    src: url('מדיה/Heebo-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-ExtraLight';
    src: url('מדיה/Heebo-ExtraLight.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-ExtraBold';
    src: url('מדיה/Heebo-ExtraBold.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-Bold';
    src: url('מדיה/Heebo-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Heebo-Black';
    src: url('מדיה/Heebo-Black.ttf') format('truetype')
}
